body {
  margin:0;
}
h1{
  font-size: 60px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0;
  padding: 20px;
  background-color: rgb(223, 145, 0);
}
a {
  border-width: 5px;
}
#grid ol {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding-left: 50px;
  padding-top: 25px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
  padding-left: 25px;
}
#article {
  padding-right: 50px;
  padding-left: 25px;
  display: inline;
}
